<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app uses Darksky.net and mapbox.io api</p>
        <hr />
        <br/>
        <img class="portrait" src="/images/me.png">
        
    </div>
    
    {{>footer}}
</body>

</html>